/* line 1, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px; }

/* line 6, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.welcome-container {
  margin: 50px 100px;
  background: url("/resources/graphics/background.png") #ffffff; }
  /* line 9, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
  .welcome-container p {
    margin: 5px; }

/* line 15, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#left-column {
  float: left;
  width: 23%; }

/* line 19, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#right-column {
  width: 74%;
  margin-left: 26%; }

/* SEARCH INPUT
// ------------------------- */
/* line 28, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
header {
  height: 80px;
  background-color: #1C688E; }

/* line 32, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#search-input {
  margin-top: 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 100;
  width: 92%;
  margin-left: 20px;
  padding: 10px 10px; }

/* line 41, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#search-input, #search-input:focus {
  transition: border-color .3s ease-in;
  outline: 0; }

/* line 48, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#search-input::-webkit-input-placeholder, #search-input:-moz-placeholder, #search-input:-moz-placeholder, #search-input:-ms-input-placeholder {
  font-weight: 100;
  color: #999; }

/* HITS
// ------------------------- */
/* line 58, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#hits {
  padding: 10px 0;
  background-color: #ffffff; }

/* line 62, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.hit {
  font-size: 0;
  padding: 8px 0; }

/* line 66, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.hit-image {
  display: inline-block;
  width: 16%; }

/* line 70, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.hit-image img {
  border-radius: 5px;
  border-bottom: 1px solid #eee;
  max-width: 100%;
  max-height: 180px; }

/* line 76, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.hit-content {
  font-size: 13px;
  display: inline-block;
  margin-left: 20px;
  vertical-align: top; }

/* line 82, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.hit-name {
  font-weight: bold;
  margin-top: 0; }

/* line 86, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.hit-content .hit-price, .hit-content {
  font-weight: normal;
  margin-top: 0; }

/* line 90, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.hit-content em {
  font-style: normal;
  background: #fbdde0; }

/* line 94, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.hit-content .hit-description {
  color: #999; }

/* PAGINATION
// ------------------------- */
/* line 103, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#pagination {
  margin-top: 60px; }

/* line 106, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#pagination ul {
  font-size: 0;
  list-style-type: none;
  text-align: center; }

/* line 111, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#pagination li {
  font-size: 14px;
  display: inline; }

/* line 115, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  border: 1px solid #eee;
  border-right: none; }

/* line 122, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#pagination a:hover {
  background: #f5f5f5; }

/* line 125, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#pagination li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

/* line 129, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#pagination li:last-child a {
  border-right: 1px solid #eee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

/* line 134, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#pagination li.active a {
  color: white;
  border-color: #ed5565;
  background: #ed5565; }

/* line 139, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#pagination li.active a:hover {
  cursor: default; }

/* line 142, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#pagination li.disabled a {
  cursor: not-allowed; }

/* line 145, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#pagination li.disabled a:hover {
  background: none; }

/* SORT-BY
// ------------------------- */
/* line 154, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#sort-by {
  font-weight: 300;
  position: relative;
  float: right;
  color: #999; }

/* line 160, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#sort-by select {
  font-size: 16px;
  padding-right: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

/* line 170, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#sort-by .caret {
  position: absolute;
  top: 8px;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  pointer-events: none;
  color: #000;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

/* STATS
// ------------------------- */
/* line 191, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#stats {
  background-color: #ffffff;
  overflow: hidden;
  position: relative; }

/* line 200, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#stats:after {
  content: "";
  position: fixed;
  width: 61%;
  height: 1em;
  margin: 0 5em 0 1em;
  border-bottom: 1px solid #E6E6E6; }

/* line 211, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#stats .found-in {
  font-size: 12px;
  color: #999; }

/* FACETS
// ------------------------- */
/* line 221, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet {
  margin-bottom: 24px; }

/* line 224, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet h5 {
  margin: 0 0 6px;
  padding: 0 0 6px;
  text-transform: uppercase;
  border-bottom: 2px solid #eee; }

/* line 230, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* line 235, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet li {
  margin-bottom: 3px; }

/* line 238, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet-link {
  font-size: 13px;
  line-height: 1.2;
  text-decoration: none;
  color: #000; }

/* line 244, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet-link:hover, .facet-link.facet-refined {
  color: #ed5565; }

/* line 247, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet .facet-link.facet-refined:hover {
  text-decoration: line-through;
  color: #ed5565; }

/* line 251, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet-count {
  position: relative;
  top: 3px;
  float: right;
  color: #999; }

/* Checkboxes */
/* line 258, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet-disjunctive {
  font-weight: normal;
  position: relative;
  margin-left: 18px; }

/* line 263, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet-disjunctive:before {
  position: absolute;
  top: 1px;
  left: -18px;
  width: 16px;
  height: 16px;
  content: '';
  background: url(../img/checkbox_icons.png) 0 0 no-repeat; }

/* line 272, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet-disjunctive:hover:before {
  background-position: -24px 0; }

/* line 275, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet-disjunctive.facet-refined:before {
  background-position: -48px 0; }

/* line 278, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.facet-disjunctive.facet-refined:hover:before {
  background-position: -72px 0; }

/* No-result
// ------------------------- */
/* line 287, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
.no-results #pagination, .no-results #sort-by, .no-results #stats, .no-results #facets {
  display: none; }

/* line 290, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#no-results-message {
  text-align: center; }

/* line 293, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#no-results-message p {
  font-size: 28px;
  font-weight: 100; }

/* line 297, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#no-results-message ul {
  list-style-type: none; }

/* line 300, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#no-results-message li {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  padding: 4px 28px 4px 8px;
  color: #999;
  border: 1px solid #ddd;
  border-radius: 12px; }

/* line 310, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#no-results-message li span.value {
  font-weight: bold;
  color: #000; }

/* line 314, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#no-results-message li a.remove img {
  position: absolute;
  top: 3px;
  right: 5px;
  float: right;
  width: 17px;
  height: 17px;
  opacity: .5; }

/* line 323, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
#no-results-message li a.remove:hover img {
  opacity: 1; }

/* line 326, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
a.clear-all {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
  border: 2px solid #ddd;
  border-radius: 4px; }

/* line 337, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
a.clear-all:hover {
  transition: border-color .3s ease-in;
  border-color: #999; }

/* FOOTER
// ------------------------- */
/* line 347, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
footer {
  font-size: 14px;
  margin-top: 200px;
  margin-bottom: 24px;
  text-align: center; }

/* line 353, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
footer a {
  text-decoration: none;
  color: #ed5565; }

/* line 357, /Users/schan/Projects/algolia-assignment/assets/scss/main.scss */
footer a:hover {
  text-decoration: underline;
  color: #ed5565; }

/*# sourceMappingURL=../../scss */